@import "tailwindcss";

@font-face {
  font-family: "tenor";
  src: url("./assets/fonts/Tenor.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.font-heading{
  font-family: tenor;
}

button{
  cursor: pointer;
}