@import "tailwindcss";

@font-face {
  font-family: "tenor";
  src: url("./assets/fonts/Tenor.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/Roboto.ttf") format("truetype");
  font-style: normal;
}

.font-heading {
  font-family: tenor;
}

* {
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease,
    box-shadow 0.4s ease;
    font-family: roboto;

  /* background-color: rgb(128, 77, 0,0.1); */
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
}

button {
  cursor: pointer;
}
